{% load i18n %} {% load static %}
   <footer id="footer">
<div class="container">
<div class="footer-ribbon">
<span>Deneyap</span>
</div>
<div class="row py-5 my-4">
<div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
<h5 class="text-3 mb-3">Bülten</h5>
<p class="pr-1">Bizden haberdar olun!</p>
<div class="alert alert-success d-none" id="newsletterSuccess">
<strong>Tebrikler!</strong> kaydınız Başarıyla Alındı.</div>
<div class="alert alert-danger d-none" id="newsletterError"></div>
<form id="newsletterForm" action="mail.php" method="POST" class="mr-4 mb-3 mb-md-0">
<div class="input-group input-group-rounded">
<input class="form-control form-control-sm bg-light" placeholder="Email Adresiniz" name="newsletterEmail" id="newsletterEmail" type="text">
<span class="input-group-append">
<button class="btn btn-light text-color-dark" type="submit">
<strong>Ekleyin!</strong></button>
</span>
</div>
</form>
</div>
<div class="col-md-6 col-lg-6 mb-4 mb-md-0"><div class="contact-details">
<h5 class="text-3 mb-3">İletişim</h5>
<ul class="list list-icons list-icons-lg">
<li class="mb-1">
<i class="far fa-dot-circle text-color-primary"></i>
<p class="m-0">Ortamahalle Topkapı Maltepe Caddesi Canayakın Sitesi A blok No 6 34040 Bayrampaşa/ İstanbul</p>
</li>
<li class="mb-1"><i class="fab fa-whatsapp text-color-primary"></i>
<p class="m-0"><a href="tel:+90125019434">+90 (212) 501 94 34</a>
</p></li>
<li class="mb-1">
<i class="far fa-envelope text-color-primary"></i>
<p class="m-0"><a href="/cdn-cgi/l/email-protection#9bfffef5fee2faebdbefeee9f0f2e2feeffef0f5f4f7f4f1f2effaf0f2f6f2b5f4e9fc"><span class="__cf_email__" data-cfemail="593d3c373c203829192d2c2b3230203c2d3c323736353633302d383230343077362b3e">[email&#160;protected]</span></a></p>
</li>
</ul>
</div>
</div>
<div class="col-md-6 col-lg-2">
<h5 class="text-3 mb-3">Takip Edin</h5>
<ul class="social-icons">
			
                                            <li class="social-icons-facebook"><a href="https://www.facebook.com/deneyapturkiyee/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
											<li class="social-icons-twitter"><a href="https://twitter.com/DeneyapTurkiye" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
											<li class="social-icons-instagram"><a href="https://www.instagram.com/deneyapturkiye/?hl=en" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
											<li class="social-icons-linkedin"><a href="https://www.linkedin.com/in/deneyapturkiye/?originalSubdomain=tr" target="_blank" title="linkedin"><i class="fab fa-linkedin"></i></a></li>
											<li class="social-icons-youtube"><a href="https://www.youtube.com/channel/UCYt9nXKzDdLSBbngvpGnZTw" target="_blank" title="youtube"><i class="fab fa-youtube"></i></a></li>
											<li class="social-icons-telegram"><a href="https://t.me/Deneyap" target="_blank" title="Telegram"><i class="fab fa-telegram"></i></a></li>
										

</ul>
</div>
</div>
</div>
<div class="footer-copyright">
<div class="container py-2">	
                                
                            <div style="color:#FFF; text-align:center;">
                            <strong>Diğer Web Sitelerimiz</strong>
                            </div>
                            
                            <div style="text-align:center;">  
                            
                                <a href="http://turkiyeteknolojitakimi.org/" title="Türkiye Teknoloji Takımı Vakfı" target="_blank"><img src="{% static 'upload/25fa207a155589da2e43eefa2c2fc990.png' %}" /></a>
     
        <a href="https://www.teknofest.org/" title="Teknofest" target="_blank"><img src="{% static 'upload/teknofest-ablog.png' %}" /></a>
     
        <a href="http://t3gm.org/" title="T3 Girişim Merkezi" target="_blank"><img src="{% static 'upload/903101e1e492aab68b5231f107c36c16.png' %}" /></a>
     
        <a href="https://www.bilimuskudar.org/" title="Bilim Üsküdar" target="_blank"><img src="{% static 'upload/23e2602a030fe2744e81417216ac16e3.png' %}" /></a>
     
        <a href="https://www.deneyapturkiye.org" title="DENEYAP TÜRKİYE" target="_blank"><img src="{% static 'upload/c6a0b4d3e865e7ced8ddab2b4fe4d44a.png' %}" /></a>
     
        
                            </div>
                                
                                
                                					<div class="row py-4">								<div class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">								<p>© Copyright 2021. Tüm Hakları Saklıdır.</p>							</div>							<div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">								<nav id="sub-menu">									<ul>					<li><i class="fas fa-angle-right"></i><a href="http://turkiyeteknolojitakimi.org/pdfler/T3Vakfi-KVKK-Aydinlatma-Metni.pdf" class="ml-1 text-decoration-none">KVKK</a></li>						<li><i class="fas fa-angle-right"></i><a href="sss.html" class="ml-1 text-decoration-none"> S.S.S.</a></li>																		<li><i class="fas fa-angle-right"></i><a href="iletisim.html" class="ml-1 text-decoration-none">İletişim</a></li>									</ul>								</nav>							</div>						</div>					</div>				</div>			</footer>