{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}          
 <head>
     <title>DENEYAP Atölyeleri | Kurumsal</title>
 </head>      
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style="text-transform: unset;">Deneyap eğitmeni olmak ister misin?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Geleceğin Teknolojilerini üretecek gençleri Deneyap Teknoloji Atölyelerinde yetiştiriyoruz!<br>
<br>
Öğrencilerimizi ülkemizin gelişimine katkı sağlayan, üretken, yenilikçi bireyler olma yolunda desteklemek üzere,  81 ilde 100 Deneyap Teknoloji Atölyesi kurmayı hedefliyoruz. Bu hedefimizde atölyelerde eğitmenlik yaparak bizimle birlikte olmak isteyen tüm eğitmenlerimizin başvurularını bekliyoruz.<br>
<br>
<strong>Eğitimlerin devam ettiği iller :</strong> ADANA ,ANKARA, ANTALYA, EDİRNE, ERZURUM, ESKİŞEHİR, HAKKARİ,  İZMİR, KONYA, MANİSA, MUĞLA, TRABZON, ADIYAMAN, AFYONKARAHİSAR, AĞRI, ÇANAKKALE, ÇORUM, ELAZIĞ, GAZİANTEP,ISPARTA, KAHRAMANMARAŞ, KASTAMONU, MALATYA, RİZE, SAKARYA, SAMSUN, ŞANLIURFA, TOKAT, YOZGAT<br>
<br>
Diğer illerimizde kurulacak atölyeler için çalışmalar sürdürülmektedir. Toplamda 4 faz olacak şekilde 81 ilde 100 Deneyap Teknoloji Atölyesi kurulacaktır. <br>
<br>
<strong>İlgili ilde Deneyap Teknoloji Atölyesi kurulduğu zaman veya seçilen eğitim aktifleştiği zaman başvuruda bulunan adaylarla iletişime geçilerek seçme sürecine dahil edileceklerdir.<br>
<br>
</strong>Eğitmenlik duyuru süreçlerinden haberdar olmak için <a  href="http://kys.t3vakfi.org/frontend/scholarship/eyJpdiI6ImtrUGc0bHNIY2RzXC9jSW45TDByNW53PT0iLCJ2YWx1ZSI6ImdSTThjUjN2Z3dqaVwvaDhvM2lZS1FRPT0iLCJtYWMiOiIzYjAzNDNhYWUwODhlMWU2MWVmNDU3ZWNiZmZhYjMxMjUzM2NiYWY3M2M2MWVjZTNhNGQ3YmUzNWNjMDg0YWIzIn0=" target="_blank"><strong>başvuru formunu</strong></a> doldurunuz.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
        <a  href="http://kys.t3vakfi.org/frontend/scholarship/eyJpdiI6ImtrUGc0bHNIY2RzXC9jSW45TDByNW53PT0iLCJ2YWx1ZSI6ImdSTThjUjN2Z3dqaVwvaDhvM2lZS1FRPT0iLCJtYWMiOiIzYjAzNDNhYWUwODhlMWU2MWVmNDU3ZWNiZmZhYjMxMjUzM2NiYWY3M2M2MWVjZTNhNGQ3YmUzNWNjMDg0YWIzIn0="  target="_blank" class="btn btn-success">Başvur</a>
      </div>
    </div>
  </div>
</div>


		<section class="page-header page-header-classic page-header-md">
					<div class="container">
						<div class="row">
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<span class="page-header-title-border visible" style="width: 101.594px;"></span><h1 data-title-border="">Deneyap Teknoloji Atölyeleri</h1>
							</div>
							<div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb d-block text-md-right">
									<li><a href="index.html" style="color:#000;">Anasayfa</a></li>
									<li class="active">Deneyap Teknoloji Atölyeleri</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
                
                <div class="container pb-1">

				

				  <div class="row">
                    <div class="col-lg-3">
                         <img src="{% static 'upload/yeni-2019042100550811000.png' %}" style="width:90%">
                   
                    </div>
						<div class="col-lg-9">
							<div class="overflow-hidden">
								<p class="lead mb-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="200" style="animation-delay: 200ms;">
								<p style="margin-left:24px"><span style="font-size:14px"><span style="background-color:white">Deneyap Teknoloji At&ouml;lyeleri, tam bağımsız ve g&uuml;&ccedil;l&uuml; bir T&uuml;rkiye i&ccedil;in, geleceğin m&uuml;hendislerini, teknoloji girişimcilerini ve teknoloji liderlerini yetiştirme amacıyla &ldquo;Geleceğin Teknoloji Yıldızları&rdquo; programı kapsamıyla 2017 yılı Temmuz ayında T&uuml;rkiye Teknoloji Takımı Vakfı (T3 Vakfı) b&uuml;nyesinde hayata ge&ccedil;irildi.</span></span></p>

<p style="margin-left:24px"><span style="font-size:14px"><span style="background-color:white">Geleceğin Teknoloji Yıldızları Programına dahil olmak isteyen ortaokul (4.sınıf Ve 5. sınıf) ve lise (8. Sınıf, 9. Sınıf ve lise hazırlık sınıfı) kademesindeki &ouml;ğrenciler, web sitemiz &uuml;zerinden duyurulan başvuru s&uuml;resinde online başvurularını tamamlar. Başvuran adaylar Matematik, Fen, Algoritma ve Genel K&uuml;lt&uuml;r alanlarından oluşan toplam 60 soruluk sınav ve proje &ouml;devi olmak &uuml;zere iki aşamadan oluşan se&ccedil;me s&uuml;recinden ge&ccedil;erler. Belirlenen kontenjan dahilinde s&uuml;reci başarıyla tamamlayan &ouml;ğrencilerimiz Deneyap Teknoloji At&ouml;lyeleri&rsquo;nde 36 aylık bir eğitim programına dahil olurlar.</span></span></p>

<p style="margin-left:24px"><span style="font-size:14px"><span style="background-color:white">Geleceğin Teknoloji Yıldızları&rsquo;nı yetiştiren eğitmen kadromuz, m&uuml;hendislik alanında okuyan son sınıf &uuml;niversite &ouml;ğrencileri, MEB &ouml;ğretmenleri ve ilgili alandaki sekt&ouml;r &ccedil;alışanlarından oluşmaktadır. T&uuml;m eğitmenlerimiz, at&ouml;lyelerde eğitmenlik &nbsp;yapabilmek i&ccedil;in d&uuml;zenlediğimiz eğitici eğitimine katılırlar. Eğitimlerimizin uygulama ağırlıklı olmasından &ouml;t&uuml;r&uuml; her derslikte bir m&uuml;hendis&nbsp; ve bir &ouml;ğretmen olmak &uuml;zere iki eğitmenimiz vardır. Ayrıca dersliklerimizde, eğitimlerin verimli bir şekilde işlendiğini takip edebilmek amacıyla, haftalık olarak eğitmenleri ve &ouml;ğrencileri g&ouml;zlemleyen bir psikoloji stajyerimiz bulunmaktadır.</span></span></p>

<p style="margin-left:24px"><span style="font-size:14px"><span style="background-color:white">Deneyap Teknoloji At&ouml;lyeleri eğitimleri ile, 21. yy becerileri kazandırmayı, &ouml;ğrenmeye karşı ilgi ve merak arttırmayı, kariyer bilinci oluşturmayı, bilim ve teknoloji okuryazarı bireyler yetiştirmeyi hedefliyoruz. &Ouml;ğrencilere teknoloji projeleri geliştirmede gerekli temel bilgi ile teknik alt yapıyı vererek geleceğin teknolojileri hakkında vizyon kazandırıp, alan bazlı uzmanlaşmalarını sağlayarak yenilik&ccedil;i ve &ouml;zg&uuml;n projeler geliştirmeleri i&ccedil;in teşvik ediyoruz. Bunlarla beraber &ouml;ğrencilerimizin kişisel ve sosyal gelişimlerine de katkı sağlamak amacıyla geziler, seminerler ve kl&uuml;p etkinlikleri d&uuml;zenliyoruz. Farklı şubelerde eğitim alan &ouml;ğrencilerimizin kaynaşması ve stres atabilmeleri i&ccedil;in, &nbsp;yaz ve kış d&ouml;nemlerinde doğa kampları yapıyoruz.</span></span></p>

<p style="margin-left:24px">&nbsp;</p>
							  </p>
							</div>
						</div>
					</div>
<br>


 
 <div class="container">
 
					<div class="row">
						<div class="col">
							
							<div class="my-4 lightbox appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-plugin-options="{'delegate': 'a.lightbox-portfolio', 'type': 'image', 'gallery': {'enabled': true}}" style="animation-delay: 100ms;">
					

									

									

									

									

									

									

									

										

									
<div class="my-4 lightbox appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-plugin-options="{'delegate': 'a.lightbox-portfolio', 'type': 'image', 'gallery': {'enabled': true}}" style="animation-delay: 100ms;">
								<div class="owl-carousel owl-theme pb-3 owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'items': 4, 'margin': 35, 'loop': false}" style="height: auto;">
					

					
								<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3435px;">
                                
                                                                
                                <div class="owl-item" style="width: 251.25px; margin-right: 35px;"><div class="portfolio-item">
										<span class="thumb-info thumb-info-lighten thumb-info-no-borders thumb-info-bottom-info thumb-info-centered-icons border-radius-0">
											<span class="thumb-info-wrapper border-radius-0">
												<img src="{% static 'upload/2019042100555511000.jpg' %}" class="img-fluid border-radius-0" alt="">
												<span class="thumb-info-title">
													<span class="thumb-info-inner line-height-1 font-weight-bold text-dark position-relative top-3">Bakırköy Deneyap</span>
										
												</span>
												<span class="thumb-info-action">
												
													<a href="{% static 'upload/2019042100555511000.jpg' %}" class="lightbox-portfolio">
														<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-search text-dark"></i></span>
													</a>
												</span>
											</span>
										</span>
									</div></div>
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    </div></div></div>
							</div>
									
   
             
					
				</div>	</div>	</div>
			
		  </div>
	</div>
   {% endblock %}
    
{% block extra_script %}
{% endblock %}
                