{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="text-transform: unset;">Deneyap eğitmeni olmak
                    ister misin?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Geleceğin Teknolojilerini üretecek gençleri Deneyap Teknoloji Atölyelerinde yetiştiriyoruz!<br>
                <br>
                Öğrencilerimizi ülkemizin gelişimine katkı sağlayan, üretken, yenilikçi bireyler olma yolunda
                desteklemek üzere, 81 ilde 100 Deneyap Teknoloji Atölyesi kurmayı hedefliyoruz. Bu hedefimizde
                atölyelerde eğitmenlik yaparak bizimle birlikte olmak isteyen tüm eğitmenlerimizin başvurularını
                bekliyoruz.<br>
                <br>
                <strong>Eğitimlerin devam ettiği iller :</strong> ADANA ,ANKARA, ANTALYA, EDİRNE, ERZURUM, ESKİŞEHİR,
                HAKKARİ, İZMİR, KONYA, MANİSA, MUĞLA, TRABZON, ADIYAMAN, AFYONKARAHİSAR, AĞRI, ÇANAKKALE, ÇORUM, ELAZIĞ,
                GAZİANTEP,ISPARTA, KAHRAMANMARAŞ, KASTAMONU, MALATYA, RİZE, SAKARYA, SAMSUN, ŞANLIURFA, TOKAT,
                YOZGAT<br>
                <br>
                Diğer illerimizde kurulacak atölyeler için çalışmalar sürdürülmektedir. Toplamda 4 faz olacak şekilde 81
                ilde 100 Deneyap Teknoloji Atölyesi kurulacaktır. <br>
                <br>
                <strong>İlgili ilde Deneyap Teknoloji Atölyesi kurulduğu zaman veya seçilen eğitim aktifleştiği zaman
                    başvuruda bulunan adaylarla iletişime geçilerek seçme sürecine dahil edileceklerdir.<br>
                    <br>
                </strong>Eğitmenlik duyuru süreçlerinden haberdar olmak için <a
                    href="http://kys.t3vakfi.org/frontend/scholarship/eyJpdiI6ImtrUGc0bHNIY2RzXC9jSW45TDByNW53PT0iLCJ2YWx1ZSI6ImdSTThjUjN2Z3dqaVwvaDhvM2lZS1FRPT0iLCJtYWMiOiIzYjAzNDNhYWUwODhlMWU2MWVmNDU3ZWNiZmZhYjMxMjUzM2NiYWY3M2M2MWVjZTNhNGQ3YmUzNWNjMDg0YWIzIn0="
                    target="_blank"><strong>başvuru formunu</strong></a> doldurunuz.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <a href="http://kys.t3vakfi.org/frontend/scholarship/eyJpdiI6ImtrUGc0bHNIY2RzXC9jSW45TDByNW53PT0iLCJ2YWx1ZSI6ImdSTThjUjN2Z3dqaVwvaDhvM2lZS1FRPT0iLCJtYWMiOiIzYjAzNDNhYWUwODhlMWU2MWVmNDU3ZWNiZmZhYjMxMjUzM2NiYWY3M2M2MWVjZTNhNGQ3YmUzNWNjMDg0YWIzIn0="
                   target="_blank" class="btn btn-success">Başvur</a>
            </div>
        </div>
    </div>
</div>


<section class="page-header page-header-classic page-header-md">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <span class="page-header-title-border visible" style="width: 101.594px;"></span>
                <h1 data-title-border="">TASARIM VE ÜRETİM</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-right">
                    <li><a href="index.html" style="color:#000;">Anasayfa</a></li>
                    <li class="active">TASARIM VE ÜRETİM</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<div class="container py-4">


    <h2 class="text-color-dark font-weight-normal text-5 mb-2">TASARIM VE ÜRETİM <strong class="font-weight-extra-bold">Eğitimi
        Hakkında</strong></h2>
    <p>
    <p>&Ouml;ğrencilerin &ccedil;eşitli &uuml;retim alanlarında tecr&uuml;beler kazanması ile birlikte, yeni ve &ouml;zg&uuml;n
        fikirlerin geliştirebilmesi i&ccedil;in olanak sağlanmaktadır.</p>

    <p>Deneyap Teknoloji At&ouml;lyeleri&rsquo;nde bulunan &uuml;retim sınıfı ortamı ile desteklenen bu s&uuml;re&ccedil;,
        &ouml;ğrencilerin problemlere &ccedil;eşitli a&ccedil;ılardan bakabilme yeteneklerinin şekillenmesinin yanı
        sıra, takımlar halinde disiplinli &ccedil;alışma ortamını da sunmayı ve &ouml;ğrencilerin pratik becerilerini
        geliştirmeyi.ama&ccedil;lanmaktadır</p>

    <p>Eğitim sonucunda her bir &ouml;ğrencinin, birbirinden farklı sorunlara birbirinden farklı &ccedil;&ouml;z&uuml;mler
        &uuml;retebilen, &uuml;retken ve bu bağlamda yetkin, &ouml;zg&uuml;n, mill&icirc; &uuml;r&uuml;nler ortaya
        koyabilecek bireyler olarak somut tecr&uuml;beler kazanmaları hedeflemektedir.</p>

    <p><strong><u>Ders D&ouml;nemi ve S&uuml;resi</u></strong></p>

    <p>Temel Eğitim D&ouml;nemi - 12 hafta (48 saat )</p>

    <p><img alt=""
            src="http://turkiyeteknolojitakimi.org/upload/diger/deneyap%20du%CC%88zeltilmis%CC%A7%20s%CC%A7emalar-05.png"/>
    </p>
    </p>                </div>
<div class="container">


    <div class="row  ">

        <div class="col-md-12 appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn"
             data-appear-animation-delay="1400" style="animation-delay: 1400ms;">
            <h2 class="text-color-dark font-weight-normal text-5 mb-2">Eğitim <strong class="font-weight-extra-bold">Detayları</strong>
            </h2>
            <ul class="list list-icons list-primary list-borders text-2">

            </ul>
        </div>


    </div>

</div>


<div class="container ">
    <h2 class="text-color-dark font-weight-normal text-5 mb-2">Eğitim <strong class="font-weight-extra-bold">Fotoğrafları</strong>
    </h2>

    <div class="row">
        <div class="col" style="min-height: 250px;">

            <div class="row portfolio-list lightbox"
                 data-plugin-options="{'delegate': 'a.lightbox-portfolio', 'type': 'image', 'gallery': {'enabled': true}}">


            </div>

        </div>
    </div>


</div>    </div>    </div>

</div>
</div>
{% endblock %}