{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}
{% endblock extra_css %}

{% block content %}

    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="text-transform: unset;">Deneyap eğitmeni
                        olmak
                        ister misin?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Geleceğin Teknolojilerini üretecek gençleri Deneyap Teknoloji Atölyelerinde yetiştiriyoruz!<br>
                    <br>
                    Öğrencilerimizi ülkemizin gelişimine katkı sağlayan, üretken, yenilikçi bireyler olma yolunda
                    desteklemek üzere, 81 ilde 100 Deneyap Teknoloji Atölyesi kurmayı hedefliyoruz. Bu hedefimizde
                    atölyelerde eğitmenlik yaparak bizimle birlikte olmak isteyen tüm eğitmenlerimizin başvurularını
                    bekliyoruz.<br>
                    <br>
                    <strong>Eğitimlerin devam ettiği iller :</strong> ADANA ,ANKARA, ANTALYA, EDİRNE, ERZURUM,
                    ESKİŞEHİR,
                    HAKKARİ, İZMİR, KONYA, MANİSA, MUĞLA, TRABZON, ADIYAMAN, AFYONKARAHİSAR, AĞRI, ÇANAKKALE, ÇORUM,
                    ELAZIĞ,
                    GAZİANTEP,ISPARTA, KAHRAMANMARAŞ, KASTAMONU, MALATYA, RİZE, SAKARYA, SAMSUN, ŞANLIURFA, TOKAT,
                    YOZGAT<br>
                    <br>
                    Diğer illerimizde kurulacak atölyeler için çalışmalar sürdürülmektedir. Toplamda 4 faz olacak
                    şekilde 81
                    ilde 100 Deneyap Teknoloji Atölyesi kurulacaktır. <br>
                    <br>
                    <strong>İlgili ilde Deneyap Teknoloji Atölyesi kurulduğu zaman veya seçilen eğitim aktifleştiği
                        zaman
                        başvuruda bulunan adaylarla iletişime geçilerek seçme sürecine dahil edileceklerdir.<br>
                        <br>
                    </strong>Eğitmenlik duyuru süreçlerinden haberdar olmak için <a
                        href="http://kys.t3vakfi.org/frontend/scholarship/eyJpdiI6ImtrUGc0bHNIY2RzXC9jSW45TDByNW53PT0iLCJ2YWx1ZSI6ImdSTThjUjN2Z3dqaVwvaDhvM2lZS1FRPT0iLCJtYWMiOiIzYjAzNDNhYWUwODhlMWU2MWVmNDU3ZWNiZmZhYjMxMjUzM2NiYWY3M2M2MWVjZTNhNGQ3YmUzNWNjMDg0YWIzIn0="
                        target="_blank"><strong>başvuru formunu</strong></a> doldurunuz.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <a href="http://kys.t3vakfi.org/frontend/scholarship/eyJpdiI6ImtrUGc0bHNIY2RzXC9jSW45TDByNW53PT0iLCJ2YWx1ZSI6ImdSTThjUjN2Z3dqaVwvaDhvM2lZS1FRPT0iLCJtYWMiOiIzYjAzNDNhYWUwODhlMWU2MWVmNDU3ZWNiZmZhYjMxMjUzM2NiYWY3M2M2MWVjZTNhNGQ3YmUzNWNjMDg0YWIzIn0="
                       target="_blank" class="btn btn-success">Başvur</a>
                </div>
            </div>
        </div>
    </div>


    <section class="page-header page-header-classic page-header-md">
        <div class="container">
            <div class="row">
                <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                    <span class="page-header-title-border visible" style="width: 101.594px;"></span>
                    <h1 data-title-border="">Takım-Mentor Çalışmaları</h1>
                </div>
                <div class="col-md-4 order-1 order-md-2 align-self-center">
                    <ul class="breadcrumb d-block text-md-right">
                        <li><a href="index.html" style="color:#000;">Anasayfa</a></li>
                        <li class="active">Takım-Mentor Çalışmaları</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <div class="container ">

        <div class="row">
            <div class="col" style="min-height: 250px;">

                <div class="row portfolio-list lightbox"
                     data-plugin-options="{'delegate': 'a.lightbox-portfolio', 'type': 'image', 'gallery': {'enabled': true}}">


                    <div class="col-12 col-sm-6 col-lg-3 appear-animation animated expandIn appear-animation-visible"
                         data-appear-animation="expandIn" data-appear-animation-delay="200"
                         style="animation-delay: 200ms;">
                        <div class="portfolio-item">
										<span class="thumb-info thumb-info-lighten thumb-info-centered-icons border-radius-0">
											<span class="thumb-info-wrapper border-radius-0">
												<img src="upload/202003122041557120.jpg"
                                                     class="img-fluid border-radius-0" alt="">
												<span class="thumb-info-action">
													<a href="upload/202003122041557120.jpg" class="lightbox-portfolio">
														<span class="thumb-info-action-icon thumb-info-action-icon-light"><i
                                                                class="fas fa-search text-dark"></i></span>
													</a>
												</span>
											</span>
										</span>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>


    </div>    </div>    </div>

    </div>
    </div>
{% endblock %}