
{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="text-transform: unset;">Deneyap eğitmeni olmak
                    ister misin?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Geleceğin Teknolojilerini üretecek gençleri Deneyap Teknoloji Atölyelerinde yetiştiriyoruz!<br>
                <br>
                Öğrencilerimizi ülkemizin gelişimine katkı sağlayan, üretken, yenilikçi bireyler olma yolunda
                desteklemek üzere, 81 ilde 100 Deneyap Teknoloji Atölyesi kurmayı hedefliyoruz. Bu hedefimizde
                atölyelerde eğitmenlik yaparak bizimle birlikte olmak isteyen tüm eğitmenlerimizin başvurularını
                bekliyoruz.<br>
                <br>
                <strong>Eğitimlerin devam ettiği iller :</strong> ADANA ,ANKARA, ANTALYA, EDİRNE, ERZURUM, ESKİŞEHİR,
                HAKKARİ, İZMİR, KONYA, MANİSA, MUĞLA, TRABZON, ADIYAMAN, AFYONKARAHİSAR, AĞRI, ÇANAKKALE, ÇORUM, ELAZIĞ,
                GAZİANTEP,ISPARTA, KAHRAMANMARAŞ, KASTAMONU, MALATYA, RİZE, SAKARYA, SAMSUN, ŞANLIURFA, TOKAT,
                YOZGAT<br>
                <br>
                Diğer illerimizde kurulacak atölyeler için çalışmalar sürdürülmektedir. Toplamda 4 faz olacak şekilde 81
                ilde 100 Deneyap Teknoloji Atölyesi kurulacaktır. <br>
                <br>
                <strong>İlgili ilde Deneyap Teknoloji Atölyesi kurulduğu zaman veya seçilen eğitim aktifleştiği zaman
                    başvuruda bulunan adaylarla iletişime geçilerek seçme sürecine dahil edileceklerdir.<br>
                    <br>
                </strong>Eğitmenlik duyuru süreçlerinden haberdar olmak için <a
                    href="http://kys.t3vakfi.org/frontend/scholarship/eyJpdiI6ImtrUGc0bHNIY2RzXC9jSW45TDByNW53PT0iLCJ2YWx1ZSI6ImdSTThjUjN2Z3dqaVwvaDhvM2lZS1FRPT0iLCJtYWMiOiIzYjAzNDNhYWUwODhlMWU2MWVmNDU3ZWNiZmZhYjMxMjUzM2NiYWY3M2M2MWVjZTNhNGQ3YmUzNWNjMDg0YWIzIn0="
                    target="_blank"><strong>başvuru formunu</strong></a> doldurunuz.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <a href="http://kys.t3vakfi.org/frontend/scholarship/eyJpdiI6ImtrUGc0bHNIY2RzXC9jSW45TDByNW53PT0iLCJ2YWx1ZSI6ImdSTThjUjN2Z3dqaVwvaDhvM2lZS1FRPT0iLCJtYWMiOiIzYjAzNDNhYWUwODhlMWU2MWVmNDU3ZWNiZmZhYjMxMjUzM2NiYWY3M2M2MWVjZTNhNGQ3YmUzNWNjMDg0YWIzIn0="
                   target="_blank" class="btn btn-success">Başvur</a>
            </div>
        </div>
    </div>
</div>


<section class="page-header page-header-classic page-header-md">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <span class="page-header-title-border visible" style="width: 101.594px;"></span>
                <h1 data-title-border="">İletişim</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-right">
                    <li><a href="index.html" style="color:#000;">Anasayfa</a></li>
                    <li class="active">İletişim</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<div class="container py-4">

    <div class="row mb-5">
        <div class="col">

            <form id="contactForm" class="contact-form-recaptcha-v3" action="" method="POST" novalidate>


                <div class="contact-form-error alert alert-danger d-none mt-4" id="contactError">
                    <strong>Error!</strong> There was an error sending your message.
                    <span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label class="required font-weight-bold text-dark text-2">Adınız Soyadınız</label>
                        <input type="text" value="" data-msg-required="Adınız Soyadınız" maxlength="100"
                               class="form-control" name="name" id="name" required>
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="required font-weight-bold text-dark text-2">Email Adresiniz</label>
                        <input type="email" value="" data-msg-required="Email Adresiniz"
                               data-msg-email="Email Adresiniz" maxlength="400" class="form-control" name="email"
                               id="email" required>
                    </div>

                    <div class="form-group col-lg-4">
                        <label class="required font-weight-bold text-dark text-2">Telefon</label>
                        <input type="text" value="" data-msg-required="Telefon" maxlength="100" class="form-control"
                               name="telefon" id="name" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="font-weight-bold text-dark text-2">Mesaj</label>
                        <textarea maxlength="5000" data-msg-required="Mesaj" rows="5" class="form-control" name="mesaj"
                                  id="message" required></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <div class="g-recaptcha" data-sitekey="6Ldik58UAAAAAC-pRc7UlQ5mICr3fOzJTp76FNpG"></div>

                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col">
                        <input type="submit" value="Gönder" name="gonder" class="btn btn-primary btn-modern"
                               data-loading-text="Yükleniyor...">
                    </div>
                </div>

            </form>


        </div>
    </div>


</div>


<div>
{% endblock %}
