{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}
{% endblock extra_css %}

{% block content %}   
 <head>
     <title>DENEYAP Atölyeleri | Kurumsal</title>
 </head> 
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style="text-transform: unset;">Deneyap eğitmeni olmak ister misin?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Geleceğin Teknolojilerini üretecek gençleri Deneyap Teknoloji Atölyelerinde yetiştiriyoruz!<br>
<br>
Öğrencilerimizi ülkemizin gelişimine katkı sağlayan, üretken, yenilikçi bireyler olma yolunda desteklemek üzere,  81 ilde 100 Deneyap Teknoloji Atölyesi kurmayı hedefliyoruz. Bu hedefimizde atölyelerde eğitmenlik yaparak bizimle birlikte olmak isteyen tüm eğitmenlerimizin başvurularını bekliyoruz.<br>
<br>
<strong>Eğitimlerin devam ettiği iller :</strong> ADANA ,ANKARA, ANTALYA, EDİRNE, ERZURUM, ESKİŞEHİR, HAKKARİ,  İZMİR, KONYA, MANİSA, MUĞLA, TRABZON, ADIYAMAN, AFYONKARAHİSAR, AĞRI, ÇANAKKALE, ÇORUM, ELAZIĞ, GAZİANTEP,ISPARTA, KAHRAMANMARAŞ, KASTAMONU, MALATYA, RİZE, SAKARYA, SAMSUN, ŞANLIURFA, TOKAT, YOZGAT<br>
<br>
Diğer illerimizde kurulacak atölyeler için çalışmalar sürdürülmektedir. Toplamda 4 faz olacak şekilde 81 ilde 100 Deneyap Teknoloji Atölyesi kurulacaktır. <br>
<br>
<strong>İlgili ilde Deneyap Teknoloji Atölyesi kurulduğu zaman veya seçilen eğitim aktifleştiği zaman başvuruda bulunan adaylarla iletişime geçilerek seçme sürecine dahil edileceklerdir.<br>
<br>
</strong>Eğitmenlik duyuru süreçlerinden haberdar olmak için <a  href="http://kys.t3vakfi.org/frontend/scholarship/eyJpdiI6ImtrUGc0bHNIY2RzXC9jSW45TDByNW53PT0iLCJ2YWx1ZSI6ImdSTThjUjN2Z3dqaVwvaDhvM2lZS1FRPT0iLCJtYWMiOiIzYjAzNDNhYWUwODhlMWU2MWVmNDU3ZWNiZmZhYjMxMjUzM2NiYWY3M2M2MWVjZTNhNGQ3YmUzNWNjMDg0YWIzIn0=" target="_blank"><strong>başvuru formunu</strong></a> doldurunuz.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
        <a  href="http://kys.t3vakfi.org/frontend/scholarship/eyJpdiI6ImtrUGc0bHNIY2RzXC9jSW45TDByNW53PT0iLCJ2YWx1ZSI6ImdSTThjUjN2Z3dqaVwvaDhvM2lZS1FRPT0iLCJtYWMiOiIzYjAzNDNhYWUwODhlMWU2MWVmNDU3ZWNiZmZhYjMxMjUzM2NiYWY3M2M2MWVjZTNhNGQ3YmUzNWNjMDg0YWIzIn0="  target="_blank" class="btn btn-success">Başvur</a>
      </div>
    </div>
  </div>
</div>


		<section class="page-header page-header-classic page-header-md">
					<div class="container">
						<div class="row">
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<span class="page-header-title-border visible" style="width: 101.594px;"></span><h1 data-title-border="">Türkiye Teknoloji Takımı Vakfı</h1>
							</div>
							<div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb d-block text-md-right">
									<li><a href="index.html" style="color:#000;">Anasayfa</a></li>
									<li class="active">Türkiye Teknoloji Takımı Vakfı</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
                
                <div class="container pb-1">

				

				  <div class="row">
                    <div class="col-lg-3">
                         <img src="upload/2019042100532211000.jpg" style="width:90%">
                   
                    </div>
						<div class="col-lg-9">
							<div class="overflow-hidden">
								<p class="lead mb-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="200" style="animation-delay: 200ms;">
								<p>T&uuml;rkiye Teknoloji Takımı Vakfı&rsquo;nın amacı;&nbsp;yetenekli gen&ccedil;lerin ve her yaş grubundan insanların teknoloji geliştirilmesi s&uuml;re&ccedil;lerine katılmalarını sağlamak; stratejik &ouml;nemi, y&uuml;ksek katma değeri ya da k&uuml;resel rekabet koşulları gereğince milli ve &ouml;zg&uuml;n olarak &uuml;retilmesi &ouml;ncelikli olan &uuml;r&uuml;n, sistem ve bileşenlerin &uuml;retilmesine d&ouml;n&uuml;k girişim, araştırma-geliştirme, proje ve faaliyetleri yapmak ve desteklemek; yetenekli gen&ccedil;leri tespit etmek ve eğitmek; teknoloji alanında girişimcilik k&uuml;lt&uuml;r&uuml;n&uuml;n gelişmesine ve b&uuml;t&uuml;n bu alanlarda yapılacak bilimsel &ccedil;alışmalara katkıda bulunmaktır.</p>

<p>T&uuml;rkiye Teknoloji Takımı Vakfı, T&uuml;rkiye&rsquo;nin daha iyi bir d&uuml;nya i&ccedil;in s&ouml;z&uuml;n&uuml; ve sesini y&uuml;kseltebilmesi,&nbsp; ekonomik ve insani a&ccedil;ıdan gelişmiş toplumlar arasında yer alması i&ccedil;in milli ve yerli teknoloji hamlesini ger&ccedil;ekleştirmesinin ka&ccedil;ınılmaz olduğuna inanan bir grup gen&ccedil; girişimci ve gen&ccedil; profesyonel tarafından kurulmuştur. Vakıf y&uuml;r&uuml;tmekte olduğu proje ve &ccedil;alışmalarıyla, T&uuml;rkiye&rsquo;nin milli teknoloji hamlesini ger&ccedil;ekleştirmesine y&ouml;nelik katkı sağlamayı hedeflemektedir.&nbsp;</p>

<p>D&uuml;nyada 1970&rsquo;lerde başlayan, 1990&rsquo;lı yıllarda &ouml;zellikle bilişim alanında hız kazanan ve halen devam eden teknoloji devriminde ge&ccedil; kalınması, sanayi devrimi ile benzer şekilde bu s&uuml;reci yakalamakta ge&ccedil; kalan &uuml;lkeler a&ccedil;ısından gelecek on yıllar boyunca kapatılması olduk&ccedil;a g&uuml;&ccedil; bir u&ccedil;urum oluşturacaktır.&nbsp;</p>

<p>Teknoloji ithalatı; ekonomiden savunmaya, eğitimden toplumsal gelişmişlik d&uuml;zeyine bir &ccedil;ok alanda toplumlar i&ccedil;in bağımlılık yaratmaktadır. Milli teknoloji hamlesi, i&ccedil;inden ge&ccedil;mekte olduğumuz tarihsel d&ouml;nemde toplumların ger&ccedil;ek anlamda egemen ve bağımsız olmaları i&ccedil;in temel bir koşul olarak ortaya &ccedil;ıkmaktadır.&nbsp;</p>

<p>Bir toplum ve &uuml;lkenin, teknolojik a&ccedil;ıdan kendine yeterliliğinin en temel unsurunu yetişmiş insan kapasitesi oluşturmaktadır. T&uuml;rkiye Teknoloji Takımı bu inan&ccedil;la yola &ccedil;ıkarak, T&uuml;rkiye&rsquo;nin bu alanda yetişmiş insan kapasitesini artırmaya y&ouml;nelik &ccedil;alışmalar ger&ccedil;ekleştirmektedir.&nbsp;</p>

<p>Vakıf bu hedef doğrultusunda iki ana alanda projeler y&uuml;r&uuml;tmektedir. Potansiyel sahibi ortaokul, lise ve &uuml;niversite gen&ccedil;lerine y&ouml;nelik teknik eğitimler ve at&ouml;lye &ccedil;alışmaları ile proje yarışmaları ve hekatonlara y&ouml;nelik takımların kurulması ve desteklenmesi vakfın ana faaliyet alanını teşkil etmektedir. Diğer faaliyet&nbsp; alanını ise, T&uuml;rkiye&rsquo;ye katma değer sağlayacak teknoloji girişimlerine kulu&ccedil;ka ve hızlandırma merkezlerinde lojistik, teknik ve danışmanlık destekleri, girişim sermayeleri ve melek yatırım ağları yoluyla sermaye destekleri sağlanmasına y&ouml;nelik &ccedil;alışmalar oluşturmaktadır.</p>

<p>Vakfın m&uuml;tevelli heyeti ve kurucularının yaş aralığı, 28 ile 38 arasında değişmektedir.&nbsp;</p>
							  </p>
							</div>
						</div>
					</div>
<br>


 
 <div class="container">
 
					<div class="row">
						<div class="col">
							
							<div class="my-4 lightbox appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-plugin-options="{'delegate': 'a.lightbox-portfolio', 'type': 'image', 'gallery': {'enabled': true}}" style="animation-delay: 100ms;">
					

									

									

									

									

									

									

									

										

									
<div class="my-4 lightbox appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-plugin-options="{'delegate': 'a.lightbox-portfolio', 'type': 'image', 'gallery': {'enabled': true}}" style="animation-delay: 100ms;">
								<div class="owl-carousel owl-theme pb-3 owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'items': 4, 'margin': 35, 'loop': false}" style="height: auto;">
					

									

									

									

									

									

									

									

									

									

									

									

									
					
								<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3435px;">
                                
                                  
                                    
                                    
                                    
                                    
                                    
                                    
                                    </div></div></div>
							</div>
									
   
             
					
				</div>	</div>	</div>
			
		  </div>
	</div>
      {% endblock %}
    
{% block extra_script %}
{% endblock %}
                